/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
}

body {
   background-image: url("unnamed.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.louie_header {
    text-align: center;
}


#date {
    text-align: center;
}



.custom-select {
  position: relative;
  font-family: Arial;
  font-size: 50px;
  text-align: center;
}
.custom-select select {
  display: none; /*hide original SELECT element:*/
}
.select-selected {
  background-color: DodgerBlue;
}
/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}
/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}
/*style items (options):*/
.select-items {
  position: absolute;
  background-color: DodgerBlue;
 /* top: 100%;*/
  left: 0;
  right: 0;
  z-index: 99;
}
/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}
.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}


.questionsRow {
  display: flex; 
  padding: 0px 0px 0px 50px;

}

.questionsRow button {
 font-size: 35px;
margin: 40px 0px 0px 0px;
}

.selection_louie {
   padding: 42px 15px 0px 15px; 
}

.selection_louie_one {
    padding: 42px 0px 0px 15px; 
}

.questionsRow p {
 font-size: 50px;

}

.louie {

    padding: 13px 0px 0px 0px;

}

.titles_louie {
    font-size: 50px;
}

.questionsRow button {

    background-color: DodgerBlue;
    color: white;
    padding: 0px 40px 0px 40px;
    height: 80px;

}

